<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename="index.css")}}" />
    {% block title%} {% endblock title%}
    <link
      rel="icon"
      type="image/x-icon"
      href="{{url_for('static', filename='favicon2.png')}}"
    />
  </head>
  <body>
    {% for message in get_flashed_messages()%}
    <div class="div_alert">
      <button type="button" class="button_alert">&times;</button>
      {{message}}
    </div>
    {%endfor%}
    <div class="container">
      {% block nav %}{% endblock nav%} {% block content %}
      
      {% endblock content%}
      {% block footer %}{% endblock footer%}
    </div>
    <script type="text/javascript" src="{{url_for('static', filename="index.js")}}" defer></script>
  </body>
</html>
